.main-chat
  .message-group
    .group-left
      .group-name 
        = @group.name
      .group-user  
        .member-name Member :
        .user-name
          - @group.users.each do |user|
            = user.name
    = link_to "Edit", edit_group_path(@group), class: "group-btn"

  .message-list
    = render @messages

  .message-form
    .form-group
      = form_with model: [@group, @message], html: {class: 'form'}, local: true do |f|
        .input-box
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          = f.label :image, class: 'input-box__image' do
            = icon('fas', 'image')
            = f.file_field :image, class: 'input-box__image__file'
        = f.submit 'Send', class: 'submit-btn'


