.side-bar
  .user-name
    .user-list
      .list-left
        = current_user.name
      .list-right
        = link_to new_group_path, class: "icon-left" do
          = icon('fas', 'edit')
        = link_to edit_user_path(current_user), class: "icon-right" do
          = icon('fas', 'cog')

  .group-list
    - current_user.groups.each do |group|
      .group-table
        = link_to '#' do
          .table-name
            = group.name
          .table-message
            メッセージはまだありません
